.blood-dashboard {
  padding: 40px;
  background: linear-gradient(135deg, #020617, #0f172a);
  min-height: 100vh;
  color: white;
}

.blood-dashboard h1 {
  text-align: center;
  margin-bottom: 30px;
}

.blood-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.blood-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.blood-card h2 {
  color: #ef4444;
}

.deadline {
  color: #facc15;
  font-weight: bold;
}

.blood-card input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.blood-card button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #dc2626;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.blood-card button:hover {
  background: #b91c1c;
}
